@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Variable.woff") format("woff"),
    url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

/* Mobile styles (screens up to 768px wide) */
@media screen and (max-width: 768px) {
  .heroBg {
    background-image: url("../src/assets/heroMobile.png");
    background-size: 100vw;
    background-position: top;
    background-repeat: no-repeat;
  }
}

/* Larger screen styles (screens wider than 768px) */
@media screen and (min-width: 769px) {
  .heroBg {
    background-image: url("../src/assets/hero.png");
    background-size: 110vw;
    background-position: center -45vh;
    background-repeat: no-repeat;
  }

  .mainBg {
    background-image: url("../src/assets/smallBg.png");
    background-size: 90vw;
    background-position: center 40vh;
    background-repeat: no-repeat;
  }
}