@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Variable.woff") format("woff"),
    url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}


/* Mobile styles (screens up to 768px wide) */
@media screen and (max-width: 768px) {
  .webBg {
    background-image: url("../src/assets/bgMobile.png");
    background-size: 100vw;
    background-position: top;
    background-repeat: no-repeat;
  }
}

/* Larger screen styles (screens wider than 768px) */
@media screen and (min-width: 769px) {
  .webBg {
    background-image: url("../src/assets/bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}
