@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ClashDisplay";
  src: url("../fonts/ClashDisplay-Variable.woff2") format("woff2"),
    url("../fonts/ClashDisplay-Variable.woff") format("woff"),
    url("../fonts/ClashDisplay-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

.opaqueBg {
  background-image: url("../src/assets/opaqueBg.png");
  background-size: cover;
  background-blend-mode: color-dodge;
  background-position: top;
  background-repeat: no-repeat;
}

/* Define the styles for the scrollbar track */
::-webkit-scrollbar {
  width: 0.8vw; /* Width of the scrollbar */
}

/* Define the styles for the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

/* Define the styles for the scrollbar track when the mouse is over it */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

/* Define the styles for the scrollbar track when it's in a "pressed" state */
::-webkit-scrollbar-thumb:active {
  background: #333; /* Color of the thumb when pressed */
}

/* Define the styles for the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: #444444; /* Color of the track */
}

/* Mobile styles (screens up to 768px wide) */
@media screen and (max-width: 768px) {
  .webBg {
    background-image: url("../src/assets/bgMobile.png");
    background-size: 100vw;
    background-position: top;
    background-repeat: no-repeat;
  }

  .regBg {
    background-image: url("../src/assets/bgRegmobile.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}

/* Larger screen styles (screens wider than 768px) */
@media screen and (min-width: 769px) {
  .webBg {
    background-image: url("../src/assets/bg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
  .regBg {
    background-image: url("../src/assets/bgReg.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
  }
}
